<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Leonardo da Vinci</h1>
    <p>Leonardo di ser Piero da Vinci (15 April 1452 – 2 May 1519), more commonly Leonardo da Vinci or simply Leonardo, was an Italian polymath whose areas of interest included invention, painting, sculpting, architecture, science, music, mathematics, engineering, literature, anatomy, geology, astronomy, botany, writing, history, and cartography. He is widely considered to be one of the greatest painters of all time and one of the most diversely talented persons ever to have lived. His genius, perhaps more than that of any other figure, epitomized the Renaissance humanist ideal. Leonardo has often been described as the archetype of the Renaissance
    </p>
    <h2>Paintings</h2>
    <ul>
        {for painting in paintings}
        <li>Mona Lisa</li>
        <li>The Last Supper</li>
        <li>Salvator Mundi</li>
    </ul>
    
</body>
</html>