{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <h1>Pictures</Picture></h1>
        <img src="https://cdn.britannica.com/24/189624-050-F3C5BAA9/Mona-Lisa-oil-wood-panel-Leonardo-da.jpg" alt="Leonardo da Vinci">
        <img src="https://orion-uploads.openroadmedia.com/xl_56b644749fe6-32975724116_8a972ba6a3_k.jpg" height="500px" width="1000px" alt="Leonardo da Vinci">
    </ul>
</body>
</html>